<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.fmradio"
    android:sharedUserId="android.uid.system">
    
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FM_RADIO" />

    <application
        android:label="Minimal FM"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- Добавляем провайдер-заглушку для системы -->
        <provider
            android:name=".FmProvider"
            android:authorities="com.android.fmradio.FmProvider"
            android:exported="true" />

        <activity
            android:name=".FmMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
